<!DOCTYPE html>
<html>
<head>
    <title>Mu-in</title>
    <!--<meta name="_csrf" content="{{!--csrf.token--}}">-->
    <!--<meta name="_csrf_header" content="{{!--csrf.headerName--}}">-->
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
</head>
<body>
<div>

</div>
<br>
</body>
</html>

